@import '/src/assets/styles/variables.less';
.admin-panel {
  width: 1440px;

  .side-bar {
    width: 20%;

    .admin-tabs {
      background: #fff;
      min-height: 100vh;
      position: fixed;
      overflow: scroll;
     
  
      .tab-content{
        padding: 10px 20px;
        border-bottom: 1px solid grey;
        cursor: pointer;
        font-size: 14px;
      }

      .selected-tab {
        background-color: @selected-color;
      }
    }
  }

  .content-area {
    width: 80%;
    margin-left: 15%;
    min-height: 100vh;

    span {
      cursor: pointer;
    }

    .all-categories {
      display: flex;

      .category-container {
        width: 33%;
        background-color: #fff;
        min-height: 100vh;
        padding: 20px;

        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;

          div:nth-child(1) {
            font-size: 24px;
            padding-right: 20px;
          }
        }

        .single-category {
          display: flex;
          justify-content: space-between;
          padding: 10px;

          .name-container {
            display: flex;
            justify-content: space-between;
            
            .serial-number {
              padding-right: 10px;
            }

            .cat-name {
              color: blue;
              text-decoration: underline;
              cursor: pointer;
            }
          }

          .action span {
            padding: 0 10px;
          }
        }
      }

      .sub-category-container {
        width: 33%;
        background-color: #fff;
        min-height: 100vh;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: 20px;

        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;

          div:nth-child(1) {
            font-size: 24px;
            padding-right: 20px;
          }
        }

        .single-sub-cat {
          display: flex;
          justify-content: space-between;
          padding: 10px;

          .name-container {
            display: flex;
            justify-content: space-between;
            
            .serial-number {
              padding-right: 10px;
            }
          }

          .action span {
            padding: 0 10px;
          }
        }
      }

      .tags-container {
        width: 33%;
        background-color: #fff;
        min-height: 100vh;
        padding: 20px;

        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;

          div:nth-child(1) {
            font-size: 24px;
            padding-right: 20px;
          }
        }

        .single-tag {
          display: flex;
          justify-content: space-between;
          padding: 10px;

          .name-container {
            display: flex;
            justify-content: space-between;
            
            .serial-number {
              padding-right: 10px;
            }
          }

          .action span {
            padding: 0 10px;
          }
        }
      }
    }
  }
}

.all-states {
  background: white;
  .state-delete-btn {
    margin-left: 10px;
  }
  .all-states-header-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .filter-sub-buttons {
      display: flex;
        .select-container {
          padding: 0 !important;
          width: 170px !important;
          .input-field-container {
            width: 170px;
          }
          .ant-select-selector {
            border-radius: 8px 0 0 8px !important;
            .ant-select-selection-placeholder {
              color: white !important;
              display: flex;
              align-items: center;
            }
          }
          
        }
        .city-search-input {
          width: 250px;
          border-radius: 0 8px 8px 0 !important;
          background-color: #CCCACd;
        }
        .city-search-input::placeholder {
          color: white;
        }
    }
  }
}

.state-input, .city-input {
  .ant-form-item-label {
    width: 50px;
  }
}


@media screen and (max-width: 456px) {
  .admin-panel {
    width: 100%;
    .content-area {
      width: 100%;
      margin-left: 0;
    }
  }
  .filter-sub-buttons {
    display: none !important;
  }
  .all-states-header-button {
    justify-content: end !important;
  }
}