.sub-categories-container {
    .filter-container {
        .location-filter {
            .state-search-input {
                height: 30px !important;
                .ant-select-selector {
                    height: 30px !important;
                }
            }
            .city-search-input {
                background: #CCCAC4;
                border-radius: 8px;
                height: 30px !important;
            }
        }
    }
}